<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adbreach">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:label="Adbreach" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.adbreach.MOVE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
